@import "tailwindcss";
@import "@fontsource/space-grotesk";
@import "@fontsource/geist-sans";
@import "@fontsource/geist-mono";

@theme {
  --font-heading: 'Space Grotesk', sans-serif;
  --font-sans: 'Geist Sans', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

@custom-variant dark (&:where(.dark, .dark *));
